*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Encode Sans Expanded", sans-serif;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(44, 43, 91);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding: 8px 0px;
    color: white;
    position: fixed;
    width: 100%;
}
ul{
    display: flex;
    /* border: 2px solid black;
    height: 20px; */
}
ul li{
    list-style: none;
    margin: 12px;
    display: inline-block;  
    height: 24px;
}
ul li a{
    list-style: none;
    margin: 12px;
    text-decoration: none;
    color: white;
   
}
ul li a:hover{
    color: rgb(142, 142, 235);
    font-size: larger;
}
main{
    display: flex;
    justify-content: space-around;
    height: 590px;
    background-color: rgb(30, 30, 63);
    align-items: center;
    
}
.resume{
    background-color:  rgb(31, 104, 200);
    border-radius: 5px;
    padding: 14px;
    color: white;
}
.resume:hover{
    font-size: large;
    cursor: pointer;
    background-color: aqua;
    color: black;
}
.rightmain{
    width: 30%; 
}
.leftmain{  
    color: white;
    width: 30%;
    font-size: 2.5rem;
}
.image{
    width: 420px;
}
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(30, 30, 63);
    height: 650px;
    color: white;
    font-size: 1.3rem;
}
.image2{

    width: 350px;
    border-radius: 100%;
}
.leftabout{
   display: flex;
   justify-content: center;
   width: 30%;
}
.rightabout{
  width: 50%;
}
.skill{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    background-color: rgb(30, 30, 63);
    height: 450px;
    color: white;
    font-size: 1.3rem;
    padding: 50px 0px;
}
.myskill{
    text-align: center ;
    background-color: rgb(30, 30, 63);
    color: white;
    padding: 22px 0px;
}
.bar{
    height: 5px;
    background-color: aliceblue;
    border-radius: 2px;
}
.percent{
    /* max-width: 70%; */
    background-color: rgb(31, 104, 200);
    height: 5px;
}
.leftskill{
    width: 40%;
}
.rightskill{
    width: 40%;
}
.Skillname{
    padding: 12px;
}
.project{
    height: 600px;
    background-color: rgb(30, 30, 63);
    text-align: center;
    color: white;
}
.pcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    margin: 30px 0px;
}
.pimage{
    width: 300px;
    height: 300px;
    /* margin: 23px; */
}
.contact{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    background-color: rgb(30, 30, 63);
    color: white;
    height: 500px;
}
.rightcontact{
    width: 40%;
}
.leftcontact{
    width: 40%;
}
.input{
    width: 100%;
    background-color: rgba(181, 202, 209, 0.952);
    height: 40px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;  
}
.btn{
    width: 100%;
    background-color: rgb(102, 148, 207);
    height: 40px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;  
}
.btn:hover{
    cursor: pointer;
    background-color: aqua;
    font-size: larger;

}
::placeholder {
    color: black;
    text-align: center;
  }

#Discription{
    height: 130px;
}
.logo{
    background-color: rgb(31, 104, 200);
    width: 23px;
    padding: 20px;
    border-radius: 100%;
    margin: 15px;
}
/* .phone{
    display: flex;
    align-items: center;
    /* justify-content: center; 
    text-align: center;
} */